<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
   
    <%- include('../partials/nav') %>
    <div class="container mt-3">
      <div class="row">
        <div class="col-md-4">

       <%- include('../partials/category-menu') %>   
         
        </div>
        <div class="col-md-8">
            <h1 class="h3 mb-3">Blog List</h1>
         

            <% blogs.forEach(blog => { %>


              <% if (blog.approval) { %>
               
                <%- include('../partials/blog-card',blog) %>
              <% } %>
              <% }) %>


              <% if (blogs.filter(b => b.approval).length>2) { %>
               

                <%- include('../partials/pagination') %>
                <!-- <nav>
                 <ul class="pagination justify-content-center">
                     <li class="page-item">
                         <a href="" class="page-link">Previous</a>
                     </li>
                     <li class="page-item active">
                         <a href="" class="page-link">1</a>
                     </li>
                     <li class="page-item">
                         <a href="" class="page-link">2</a>
                     </li>
                     <li class="page-item">
                         <a href="" class="page-link">3</a>
                     </li>
                     <li class="page-item">
                         <a href="" class="page-link">Next</a>
                     </li>
                 </ul>
                </nav> -->
              <% } %>
       

        </div>
      </div>
    </div>
</body>
</html>